.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid 2px #a12d2d;
  display: flex;
  border-radius: 20px;
  border-radius: 6px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navi{
  background-color: bisque;
  outline: 2px solid #a12d2d;
}
.buttons{
  width: 100%;
  height: 100px;
  border-radius: 6px;
  color: white;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 500;
  
}
.bastardo{
  border: solid orangered 3px;
  background-image: url("https://cdn.create.vista.com/api/media/small/382777506/stock-photo-oriental-outline-ornament-seamless-pattern");
}
.casamonte{
  background-image: url("./assets/casaMonte.jpg");
  background-size: cover;
border: solid 3px #18A59D;

}
.next{
  background-color: #a12d2d;
  border: solid 3px #e7d000;
}
.local{
  margin-top: 1rem;
  width: 45%;
  height: 100px;
  text-decoration: none;
  font-size: 1.3rem;
  
}
.rowsCard{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2rem;
}
/*========================== footer ======================*/
.Mfooty{

  display: flex;
  margin-top: 0;
  background-color: bisque;
  outline: 2px solid #a12d2d;
  margin-top: 1.5rem;
  min-height: 40px;

  } 
  
  .redes{
      fill:#18A59D;
  }
  .Mcontact{
      font-family: 'Bebas Neue', cursive;
      font-family: 'Sono', sans-serif;
      font-size: .7rem;
      margin-bottom: 0;
      margin-top: .5rem;
      color: black;
   
  }
  .McontactT{
      font-family: 'Bebas Neue', cursive;
      font-family: 'Sono', sans-serif;
      font-size: .7rem;
      margin-bottom: 0;
      margin-top: .5rem;
      margin-right: .5rem;
 
  }
  .linkC:hover .redes{
      fill:#fbae61;
  }
  
  .myLinkss{
      display: flex;
      margin: auto;

  }
.Mlinks{
  padding-bottom: 0;
}